body{
    margin: 0;
    padding: 0;
   background-color: #008CBA;; 
}

.titulo{
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
    
}

.formulario{
    display: table;
    background-color: bisque;
    padding: 5%;
    border-radius: 15px;
    margin:auto;
}

label{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    background-color: #008CBA;
    padding: 6px;
    border-radius: 7px;
}
.entrada{
    display: block;
    margin-top: 15px;
    width: 90%;
    border-radius: 2px;
    padding: 6px;
}

.opcion{
    margin-top: 12px;
    margin-bottom: 10px;
}

.btn{
    display: block;
    margin: auto;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;    
}

.btn:hover{
    background-color: green;
}


